@value font-primary, light, semi-bold from '../../../sass/values/fonts.scss';
@value color-light from '../../../sass/values/colors.scss';
@value tablet-landscape, tablet-portrait, phone-huge, phone-medium from '../../../sass/values/breakpoints.scss';

.section {
  position: relative;
}

.content {
  composes: content-width from '../../../sass/values/composition.scss';
}

.slogan {
  text-align: center;
  text-transform: uppercase;
  color: color-light;
  line-height: 1.5;

  &--small {
    display: block;
    font-family: font-primary;
    font-weight: light;
    letter-spacing: 2px;

    @media phone-huge {
      font-size: 1.2rem;
    }
    @media phone-medium {
      font-size: 1.1rem;
    }
  }

  &--large {
    display: block;
    font-size: 5rem;
    font-family: font-primary;
    font-weight: semi-bold;
    color: color-light;
    letter-spacing: 2px;

    @media tablet-landscape {
      font-size: 4rem;
    }
    @media tablet-portrait {
      font-size: 3.5rem;
    }
    @media phone-huge {
      font-size: 2.5rem;
    }
    @media phone-medium {
      font-size: 2.2rem;
    }
  }
}

%background {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 114rem;
  height: 35rem;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media tablet-landscape {
    height: 30rem;
  }
  @media tablet-portrait {
    height: 26rem;
  }
  @media phone-huge {
    height: 18rem;
  }
  @media phone-medium {
    height: 17rem;
  }
}

.men {
  @extend %background;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(../../../assets/images/banner/men-hero.jpg);
}

.women {
  @extend %background;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(../../../assets/images/banner/women-hero.jpg);
}

.shop {
  @extend %background;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(../../../assets/images/banner/shop-hero.jpg);
}
