@value font-primary, light from '../../sass/values/fonts.scss';
@value color-light, text-dark-2 from '../../sass/values/colors.scss';

%navigation-text {
  font-size: 1.1rem;
  font-family: font-primary;
  font-weight: light;
  color: text-dark-2;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.container {
  cursor: pointer;
  @extend %navigation-text;
  padding: 0.5rem;
}

.user {
  display: flex;
  align-items: center;
}

.nav-title {
  margin-left: 1rem;
}

.menu {
  position: absolute;
  left: 0px;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: color-light;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 101;

  button {
    @extend %navigation-text;
    display: block;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    text-align: left;
    transition: all 0.3s;

    cursor: pointer;
    border: none;
    background-color: transparent;

    &:hover,
    &:focus {
      background: rgba(0, 0, 0, 0.05);
    }
  }

  &.expanded {
    width: 125px;
    height: auto;
  }
}

.btn-icon {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-right: 0.2rem;

  &:before,
  &:after {
    content: '';
    display: inline-block;
    height: 0.8rem;
    width: 0.1rem;
    background-color: gray;
    position: relative;
    transition: 300ms ease-in-out transform;
  }

  &:before {
    transform: rotate(-45deg);
    left: -0.2rem;
    top: -0.1rem;
  }

  &:after {
    transform: rotate(45deg);
    left: 0.2rem;
    top: -0.1rem;
  }

  &.open {
    &:before {
      transform: translateX(0.25rem) rotate(-45deg);
    }
    &:after {
      transform: translateX(-0.25rem) rotate(45deg);
    }
  }
}
