@value font-tertiary from './fonts.scss';
@value text-dark-2 from './colors.scss';
@value tablet-portrait, tablet-portrait, phone-huge, phone-large, phone-medium, phone-small from './breakpoints.scss';

.content-width {
  margin: 0 auto;
  max-width: 114rem;
}

.content-width--padding {
  @extend .content-width;
  padding: 3rem 5rem 10rem 5rem;

  @media tablet-portrait {
    padding: 3rem 5rem 5rem 5rem;
  }
  @media phone-large {
    padding: 3rem 3rem 5rem 3rem;
  }
  @media phone-medium {
    padding: 3rem 2rem 5rem 2rem;
  }
}

.box-shadow-light {
  box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.18);
}

.heading-1 {
  padding-bottom: 2rem;
  font-size: 4rem;
  letter-spacing: 3px;
  text-transform: uppercase;

  @media tablet-portrait {
    font-size: 3.2rem;
  }
  @media phone-huge {
    font-size: 3rem;
  }
  @media phone-large {
    font-size: 2.7rem;
  }
  @media phone-small {
    letter-spacing: 1px;
    font-size: 2.5rem;
  }
}

.heading-2 {
  font-size: 2.2rem;

  @media tablet-portrait {
    font-size: 2rem;
  }
  @media phone-large {
    font-size: 1.8rem;
  }
  @media phone-small {
    font-size: 1.6rem;
  }
}

.heading-3 {
  font-size: 1.8rem;

  @media tablet-portrait {
    font-size: 1.6rem;
  }
  @media phone-small {
    font-size: 1.4rem;
  }
}

.sub-heading {
  font-size: 1.1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: text-dark-2;
}

.modal-background-dark {
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url(../../assets/images/modal/modal-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  @extend .box-shadow-light;
}
